*{
	margin: 0;
	padding: 0;
}

body{
	background: grey;
}

header, footer{
	padding: 2em;
}

footer{
	text-align: center;
	clear: both;
	background: orange;
}

main{
	width: 94.75%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.col{
	width: 33.333%;
	height: 80vh; 
	float: left;
}

.col1{background: red;}
.col2{background: blue;}
.col3{background: green;}

@media only screen and (max-width: 768px){
	.col1 .col2{
		width: 50%;
	}
	.col3{
		width: 100%;
	}
}

@media only screen and (max-width: 480px){
	.col{
		width: 100%;
	}
}
