/*  GRID OF TWELVE  */
.col_12 {
	width: 100%;
}

.col_11 {
  	width: 91.53%;
}
.col_10 {
  	width: 83.06%;
}

.col_9 {
  	width: 74.6%;
}

.col_8 {
  	width: 66.13%;
}

.col_7 {
  	width: 57.66%;
}

.col_6 {
  	width: 49.2%;
}

.col_5 {
  	width: 40.73%;
}

.col_4 {
  	width: 32.26%;
}

.col_3 {
  	width: 23.8%;
}

.col_2 {
  	width: 15.33%;
}

.col_1 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
	width: 100%; 
	}
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*
.section
splits up the page horizontally. You'll need a few of these to break up the content, and you can use them in your main wrapper, or within other divs.

.col
divides the section into columns. Each column has a left margin except the first one. Using .col:first-child { margin-left: 0; } means you don't need to use class="last" anywhere. It works in all browsers since IE6.

.group
solves floating problems, by forcing the section to self clear its children (aka the clearfix hack). This is good in Firefox 3.5+, Safari 4+, Chrome, Opera 9+ and IE 6+.

.span_1_of_3
specifies the width of the column. Using percentages means it's 100% fluid.

@media queries
as soon as the screen size gets less than 480 pixels the columns stack and the margins disappear.
*/