.body{
  /*background: #f7f8f8;*/
  background-color: #FAF0E6;
}

* {
    box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.header {
    background-color: lightblue;
    color: #ffffff;
    padding:0;
}

.navheader{
  float: left;
}

.navheader a{
  text-decoration: none;
  font-weight: bolder;
}

.navheader a:hover{
  color: #8D0D19;
}

.navmenu{
  float: right !important;
  text-align: right;
}

.navmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header{
  color: blue;
}

.navmenu ul.nav li{
  display: inline-block;

}

.navmenu li a:visited,
.navheader a:visited
{
  color: blue;
}

.navmenu li:hover {
    color: #8D0D19;
}

.nav li {
  text-indent: 1cm;
  text-transform: uppercase;
  font-weight: bolder;
}

.nav li a{
  text-decoration: none;
}

footer{
  background-color: #555555;
  color: #B5B5B5;
}
footer h2, h4{
  color: white;
}

footer .copyright{
  text-align: center;
}

.forminput{
  padding-top: 20px;
}

.forminput input{
  width: auto !important;
  height: 30px !important;
  /*border-radius: 18px !important;*/
  font-size: 20px !important;
}

.section-background{
  background: url('../images/logo.jpg') no-repeat center;
  height: 350px;
  background-size: cover;
  text-align: center;
}

/*.intro-header {
  padding-top: 60px;
  color: black;
  background: url(../images/shop2.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}
*/
.intro-message {
  position: relative;
  padding-top: 5%;/*
  padding-bottom: 20%;*/
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }
}

.how-to-order{
  text-align: center;
  background-color: lightblue;
}

.meal-intro{
  text-align: center;
  
}

.meal-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.meal-panel-info {
  padding: 10px;
}

.meal-panel-image {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.meal-panel-image img{
  width: 180px;
  height: 180px;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.signup-link {
  padding-left: 0;
  list-style: none;
}
.signup-link> li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.signup-link > li:first-child {
  padding-left: 0;
}

.signup-link > li > a{
  text-decoration-line: none;
}

.form-divs {
  margin-bottom: 15px;
}

.form-input {
  display: block;
  width: 70%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #9AC0CD;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.customer-button{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.caterer-button{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; 
}

.menu-heading h2{
  color: #8D0D19; 
  margin-top: 1em;
}

.center {
  margin: 0 auto;
  float: none!important;
  display: block;
}

.menu-list{
  display: block;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #6c6c6c;
}

.left-nav a{
  color: #292421;
  text-decoration: none;
}

.left-nav a:hover{
  color: #EE7942;
}
ul.subjects{
  margin: 1em 0; padding-left: 0;
  list-style: none;
  letter-spacing: 3px;
  padding-top: 8px;
  line-height: 38px;
}
ul.pages{
  padding-left: 2em; 
  list-style: square;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  /* .subjects li{
      display: inline-block;
   }
   */
   .subjects .pages{
    visibility: hidden;
    letter-spacing: 0;
    padding-top: 0;
    line-height: 0;
   }
}

#full_meal_list,
.dashboard_div{
  border: 1px solid black;
}


thead th {
  background-color: #BDEAFF;
  width: 100px;
}
tbody th {
  background-color: #FFFF99;
}
tfoot th {
  background-color: #C2FE9A;
}
tfoot th:last-of-type {
  text-align: right;
}
td {
  text-align: center;
}
.main-content td:last-of-type {
  text-align: right;
}

.yes{
  color: green;
}
.no{
  font-weight: bold;
  color: red;
}

.order-list td:last-of-type{
  color: red;
  text-align: center;
}

.responsiveimage{
  width: auto;
  height: auto;
  max-width: 100%;
}

.menu-list li a:hover{
  color: #8D0D19
}

.menu-list li a:visited{
  color: #00EEEE;
}
